.text {
    font-size: 5vw;
}

.theInputGroup{
    margin: 1em 1em 0.25em;
}

.white {
    color: #ffffff;
}

.message {
    background-color: #ffe748;
    border-radius: 0.5em;
    margin: 0.75em;
    padding: 0.25em;
    width: 25%;
}

#chat {
    margin-bottom: 3em;
}

html, body, .container-fluid {
	height: 100%;
}
